// ==================================
// footer
// ==================================
.l-footer {
    background: $color_footer_background;
    color: $font-color_footer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    &__large {
        display: block;
        @include  mmd() {
            display: none;
        }
    }
    &__small {
        display: none;
        @include  mmd() {
            display: block;
        }
    }
}
