// ==================================
// header
// ==================================
.l-header {
    box-sizing: border-box;
    width: $site-width_max;
    margin-left: auto;
    margin-right: auto;
    height: $header-height;
    color: $font-color_default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: $space_xl;
    padding-right: $space_xl;
    transition: .3s;
    z-index: 2;
    @include mxl() {
        width: 100%;
        position: fixed;
        background: rgba(255, 255, 255, 0.9);
    }
    @include mq() {
        height: 60px;
        padding-right: $space_l;
        padding-left: $space_l;
    }
    &__title {
        font-size: $font-size_xxl;
        font-weight: bold;
    }

}
