@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  width: 100%;
  color: #000033;
  font-size: 16px;
  line-height: 1.6;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 0.1em;
}

p,
a {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #000033;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #3399cc;
  transition: 0.3s;
}

img {
  width: 100%;
  vertical-align: middle;
}

input[type=radio] {
  vertical-align: middle;
}

span {
  font-weight: bold;
}

button,
input,
textarea {
  font-family: inherit;
}

.l-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .l-container {
    width: 100%;
  }
}

.l-container__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .l-container__title {
    margin-top: 80px;
  }
}

@media screen and (max-width: 414px) {
  .l-container__title {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.l-container__subtitle {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.l-container__body {
  background: #f7f7f7;
  padding: 20px;
  overflow: hidden;
}

@media screen and (max-width: 414px) {
  .l-container__body {
    padding: 15px;
  }
}

.l-container__nav {
  display: flex;
  justify-content: space-around;
  background: #f7f7f7;
  padding: 20px;
  overflow: hidden;
  border: 1px solid #000033;
  border-radius: 3px;
}

@media screen and (max-width: 414px) {
  .l-container__nav {
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .l-container__nav {
    flex-direction: column;
    justify-content: center;
  }
}

.l-container__nav .item {
  display: block;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

.l-message {
  width: 1200px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: #155724;
  background: #d4edda;
  white-space: pre-wrap;
}

@media screen and (max-width: 1200px) {
  .l-message {
    width: 100%;
    position: absolute;
    top: 120px;
  }
}

.l-footer {
  background: #000033;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.l-footer__large {
  display: block;
}

@media screen and (max-width: 768px) {
  .l-footer__large {
    display: none;
  }
}

.l-footer__small {
  display: none;
}

@media screen and (max-width: 768px) {
  .l-footer__small {
    display: block;
  }
}

.l-header {
  box-sizing: border-box;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  color: #000033;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  .l-header {
    width: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
  }
}

@media screen and (max-width: 414px) {
  .l-header {
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.l-header__title {
  font-size: 30px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .l-nav {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: 0.5s;
  }

  .l-nav.active {
    transition: 0.5s;
    transform: translateX(-100%);
    z-index: 2;
  }
}

.c-btn {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  box-sizing: border-box;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.c-btn:hover {
  transform: translateY(-3px);
  transition: 0.3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.c-btn__corp {
  color: #ffffff;
  background: #000033;
}

.c-btn__l {
  margin: 30px 0;
  padding: 15px;
  width: 100%;
  font-size: 18px;
}

.c-btn__logout {
  padding: 10px;
  width: 120px;
  font-size: 14px;
}

.c-form {
  width: 410px;
  margin: 0 auto;
}

@media screen and (max-width: 414px) {
  .c-form {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.c-input {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #000033;
  border-radius: 3px;
  outline: none;
  height: 60px;
  font-size: 18px;
  color: #000033;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .c-input {
    font-size: 16px;
  }
}

.c-input__label {
  display: block;
  margin-top: 15px;
}

.c-input__l {
  padding: 5px 10px;
  width: 100%;
}

.c-input:focus {
  border: 3px solid #3399cc;
}

.c-input__textarea {
  padding: 5px 10px;
  height: 200px;
  width: 100%;
}

.c-input__radio {
  display: block;
}

@media screen and (max-width: 768px) {
  .c-input__radio {
    font-size: 12px;
  }
}

.c-input__radio__l {
  margin-top: 15px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

::-webkit-input-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

::-ms-input-placeholder {
  color: #ccc;
}

::placeholder {
  color: #ccc;
}

.c-error {
  margin: 15px 0;
  color: #d9534f;
}

@media screen and (max-width: 414px) {
  .c-error {
    font-size: 12px;
  }
}

.c-menu {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .c-menu {
    display: block;
    font-size: 18px;
  }
}

.c-menu__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #000033;
}

@media screen and (max-width: 1200px) {
  .c-menu__item:not(:last-child) {
    padding-right: initial;
    margin-right: initial;
    border-right: none;
  }
}

.c-menu__item:last-child {
  text-align: center;
}

.c-menu__link {
  -webkit-font-smoothing: initial;
}

@media screen and (max-width: 1200px) {
  .c-menu__link {
    display: block;
    padding: 15px;
    text-align: center;
  }
}

.c-panel {
  display: flex;
  flex-wrap: wrap;
  background: #f7f7f7;
}

@media screen and (max-width: 768px) {
  .c-panel {
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.c-panel__item {
  width: 373px;
  box-sizing: border-box;
  border: 1px solid #000033;
  border-radius: 3px;
  background: #fef263;
  padding: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .c-panel__item {
    margin-left: 0;
  }
}

.c-panel__title {
  display: block;
  word-wrap: break-word;
}

.c-panel__link {
  display: block;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .c-panel__radio {
    display: block;
  }
}

.c-dl {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .c-dl {
    font-size: 12px;
  }
}

.c-dl dt {
  clear: left;
  float: left;
  width: 20%;
  font-weight: bold;
}

.c-dl dd {
  margin: 0 0 0 20%;
}

.c-dl dd:before {
  content: "\2026\3000";
}

.c-pagination {
  margin-top: 30px;
  margin-bottom: 30px;
}

.c-pagination a {
  border: 1px solid #000033;
  border-radius: 3px;
  padding: 15px;
}

.p-info {
  color: #d9534f;
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 414px) {
  .p-info {
    font-size: 12px;
  }
}

.p-projectDetail {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .p-projectDetail {
    width: 100%;
  }
}

.p-projectDetail__body {
  background: #f7f7f7;
  padding: 20px;
  overflow: hidden;
}

@media screen and (max-width: 414px) {
  .p-projectDetail__body {
    padding: 15px;
  }
}

.p-projectDetail__form {
  margin-top: 40px;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.p-projectDetail__textarea {
  margin-top: 15px;
  padding: 5px 10px;
  height: 100px;
  width: 100%;
}

.p-projectDetail__btn {
  margin: 15px 0;
  padding: 15px;
  width: 100%;
  font-size: 18px;
}

.p-menuTrigger {
  display: none;
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3;
}

@media screen and (max-width: 1200px) {
  .p-menuTrigger {
    display: inline-block;
  }
}

.p-menuTrigger__barger {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000033;
  border-radius: 4px;
}

.p-menuTrigger__barger:nth-of-type(1) {
  top: 0;
}

.p-menuTrigger__barger:nth-of-type(2) {
  top: 14px;
}

.p-menuTrigger__barger:nth-of-type(3) {
  bottom: 0;
}

.p-menuTrigger.active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}

.p-menuTrigger.active span:nth-of-type(2) {
  opacity: 0;
}

.p-menuTrigger.active span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}

@media screen and (max-width: 768px) {
  .p-message {
    font-size: 12px;
  }
}

.p-message__author {
  font-size: 14px;
}

.p-message__profile {
  font-size: 12px;
}

.p-message__content {
  padding: 15px;
  border: 1px solid #000033;
  border-radius: 3px;
  background: #fef263;
}

.p-message__my-content {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #000033;
  border-radius: 3px;
  background: #f7f7f7;
}

.p-message__date {
  text-align: right;
  font-size: 14px;
}

.p-top {
  position: relative;
}

@media screen and (max-width: 1200px) {
  .p-top {
    padding-top: 80px;
  }
}

.p-top__title {
  font-weight: bold;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .p-top__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 414px) {
  .p-top__title {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-top__title__l {
  font-size: 38px;
  font-weight: bold;
  position: absolute;
  top: 100px;
  right: 100px;
}

@media screen and (max-width: 1200px) {
  .p-top__title__l {
    font-size: 30px;
    top: 160px;
    right: 80px;
  }
}

@media screen and (max-width: 768px) {
  .p-top__title__l {
    font-size: 24px;
    top: 120px;
    right: 30px;
  }
}

@media screen and (max-width: 414px) {
  .p-top__title__l {
    font-size: 14px;
    top: 100px;
    right: 10px;
  }
}

.p-top__form {
  width: 1200px;
  margin: 0 auto;
  background: #fef263;
}

@media screen and (max-width: 1200px) {
  .p-top__form {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.p-top__btn {
  margin: 30px auto;
  padding: 15px;
  width: 350px;
  font-size: 18px;
}

.p-top__btn-wrapper {
  text-align: center;
}

.p-top__list {
  width: 60%;
  margin: 15px auto;
}

@media screen and (max-width: 1200px) {
  .p-top__list {
    width: 100%;
  }
}

.p-top ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #000033;
  background: #000033;
  color: #ffffff;
}

@media screen and (max-width: 414px) {
  .p-top ol {
    font-size: 12px;
  }
}

.p-top ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 10px auto;
  padding: 20px;
  background: #000033;
  color: #ffffff;
}

@media screen and (max-width: 414px) {
  .p-top ul {
    font-size: 12px;
  }
}

@media screen and (max-width: 414px) {
  .p-top p {
    font-size: 12px;
  }
}

.p-filter {
  display: flex;
  flex-wrap: wrap;
  background: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .p-filter {
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.p-filter__item {
  width: 373px;
  box-sizing: border-box;
  border: 1px solid #000033;
  padding: 15px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .p-filter__item {
    margin-left: 0;
  }
}

.u-mr-0 {
  margin-right: 0;
}

.u-width {
  width: 100%;
}

.imgIcon {
  width: auto;
  border-radius: 15px;
}

.imgIcon__detail {
  width: auto;
  border-radius: 15px;
  margin-bottom: 3px;
}

.imgIcon_l {
  width: auto;
  border-radius: 50px;
}

.u-twitter-icon {
  background: #000033;
  color: #ffffff;
}

.u-twitter-icon__project {
  background: #fef263;
  color: #000033;
  width: 30px;
  margin-left: auto;
}

.u-fontSizeSmall {
  font-size: 12px;
}

.cursorHelp {
  cursor: help;
}

.u-page-button {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #000033;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 414px) {
  .u-page-button {
    bottom: 60px;
  }
}

