// ==================================
// project/top
// ==================================

.p-top {

    &__title {
        text-align: center;
        font-size: $font-size_xl;
        margin-bottom: $space_3l;

        @include mq() {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
