// ==================================
// button
// ==================================
.c-btn {
    border: none;
    cursor: pointer;
    border-radius: $border_radius;
    box-sizing: border-box;
    transition: .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    &:hover {
        transform: translateY(-3px);
        transition: .3s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    &__corp {
        color: $font-color_footer;
        background: $color_footer_background;
    }
    &__l {
        margin: $space_xxl 0;
        padding: $space_l;
        width: 100%;
        font-size: $font-size_l;
    }
    &__logout {
        padding: $space_m;
        width: 120px;
        font-size: $font-size_m;
    }
}
