// ==================================
// description
// ==================================

.c-dl {
    margin-bottom: $space_l;
    @include mmd() {
        font-size: $font-size_s;
    }
    &__dt {
        clear: left;
        float: left;
        width: 20%;
        font-weight: bold;
    }
    &__dd {
        margin: 0 0 0 20%;
        &:before {
            content: '…　';
        }
    }
}
