// ==================================
// input
// ==================================

.c-input {
    display: block;
    margin-bottom: $space_m;
    //border: 3px solid #f6f5f4;
    //border-radius: 4px;
    border: $border_default;
    border-radius: $border_radius;
    outline: none;
    height: 60px;
    font-size: $font-size_l;
    @include mmd() {
        font-size: $font-size_default;
    }
    color: $font-color_default;
    box-sizing: border-box;
    &__label {
        display: block;
        margin-top: $space_l;
    }
    &__l {
        padding: 5px 10px;
        width: 100%;
    }
    &:focus {
        border: 3px solid $font-color_transition;
    }
    &__textarea {
        padding: 5px 10px;
        height: 200px;
        width: 100%;
    }
    &__radio {
        display: block;
        @include mmd() {
            font-size: $font-size_s;
        }
    }
    &__radio__l {
        margin-top: $space_l;
        margin-bottom: $space_s;
        padding-bottom: $space_m;
    }
}

::placeholder {
    color: #ccc;
}
